{% extends 'base.html' %}


{% block curr_appoint %}
<div>


  <h1> Search By: </h1>
  <form method="POST">
  </div>
  <div style="Healthcare Service: 10px 0px">
    <label>Healthcare Centre: </label><br/>
    <input name="service_type" placeholder="Profession" value="{{service_type}}"
  </div>
    <div style="margin: 10px 0px">
      <label>Doctor: </label><br/>
      <input name="name" placeholder="Name" value="{{name}}"/>
    </div>
    <div style="margin: 10px 0px">
      <label>Date: </label><br/>
      <input name="suburb" placeholder="Date" value="{{suburb}}" />
    </div>
    <div style="margin: 10px 0px">
      <label>Time: </label><br/>
      <input name="suburb" placeholder="Time" value="{{suburb}}" />
    </div>
    <div style="margin: 10px 0px">
      <button type="submit" formmethod="POST">Submit</button>
    </div>
    <a href="{{url_for('index')}}">Back to Homepage</a>
  </br>





{% endblock %}
